<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utils.Listeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="C:/Users/johna/IdeaProjects/TestNGFramework/src/test/java/Test/AddEmployeeTest.java">
        <classes>
            <class name="Test.AddEmployeeTest">
                <methods>
                    <exclude name="addEmployee"/>
                    <include name="addMultipleEmployee"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>